/* .background {
  height: 150px;
  overflow: hidden;
  background-image: url("https://aydinbeyhotels.com.tr/images/q-plaj2.jpg");
  background-position-y: center;
}

.content {
  grid-area: content;
  overflow: hidden;
}

.persen {
  padding: 10px;
} */
