.wrapp-messag__page {
  width: 960px;
  margin: 20px auto;
  background-color: #fff;
}

.wrapp-messages__items {
  margin-bottom: 20px;
  display: flex;
}

.wrapp-user__item,
.wrapp-message__item {
  width: 100%;
  padding: 10px;
}

.wrapp-user__item {
  text-align: center;
  width: 300px;
}

.wrapp-user__item-name a {
  padding: 5px;
}

.block-item__write {
  text-align: center;
}

.block-item__text textarea {
  width: 500px;
  height: 50px;
  border: #fff;
  border-bottom: 1px solid #333;
  resize: none;
}
